:root {
  --standart-indent: 16px;
}

.profile {
  background-color: #fff;
  width: calc(var(--standart-indent) * 19);
  text-align: center;

  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  font-size: 16px;
  line-height: 1.2;
}

.description {
  /*  */
  padding: calc(var(--standart-indent) * 2);
}

.thumb {
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgb(196, 146, 146);
}

.avatar {
  display: block;
  width: 100%;
  height: auto;
}

.name {
  font-weight: 700;
  margin: var(--standart-indent) 0 0 0;
}

.tag,
.location {
  margin: var(--standart-indent) 0 0 0;
  color: rgb(146, 146, 146);
}

.statList {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  justify-content: space-between;

  background-color: beige;
}

.state {
  /* padding: var(--standart-indent); */
  padding: var(--standart-indent);
  width: calc(100% / 3);

  border-top: 1px solid #000;
}

.state:not(:last-child) {
  border-right: 1px solid #000;
}

.label {
  /*  */
  display: block;
}

.quantity {
  /*  */
  display: block;
  /* margin-left: calc(var(--standart-indent) / 2); */
}
